langchain
chromadb
tiktoken
beautifulsoup4 
requests 
pandas 
pyarrow 
fastparquet 
typing-inspect==0.8.0 
typing_extensions==4.5.0
pydantic -U
huggingface_hub
sentence_transformers
streamlit
